# Microsoft Visual Studio Code:
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Dependency directories:
node_modules/

# Compiled JS:
out/

# Generated grammar and AST:
src/language/generated/

# Generated syntax highlighting:
syntaxes/

# TypeScript cache:
*.tsbuildinfo

# Other file system files
.DS_Store
._.DS_Store